body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 90%;
  list-style: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
}

header {
  position: relative;
}

img,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
}

.hero-image img {
  width: 100vw;
  opacity: 0.9;
}

.name-francine {
  font-family: "Montserrat", sans-serif;
  color: #648a7b;
  color: #fff;
  font-size: 340%;
  margin-left: 38vw;
  position: relative;
  bottom: 16vh;
}

.bold {
  font-weight: 900;
  color: #7fff00;
}

.main-subtitle {
  font-family: "Libre Franklin", sans-serif;
  color: white;
  background-color: #516e55;
  margin-top: -60px;
  font-size: 1.4em;
  font-weight: 200;
  color: #b1dab2;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 28px;
}

/* ----------- Skills ------------ */

.skills {
  background-color: rgb(198, 219, 219);
}

.skills-header {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: rgb(67, 111, 112);
  margin: 0;
  padding: 6vh 0 6vh 3vw;
}


/* ----------- Work / Projects ------------ */

.btg-screens,
.space-screens {
  width: 60vw;
}

.bean-screens {
  display: inline-block;
  width: 20vw;
}

.single-project {
  background-color: rgb(198, 219, 219);
  padding-top: 6vh;
}

.project-tools-github {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: auto;
  width: auto;
  margin: 3vh auto;
}

.project-tools-github * {
  margin: 5px;
}

.project-tools-github > button {
  margin-left: 10px;
}

.tools-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: rgb(67, 111, 112);
  text-align: center;
  margin: 2vh 0;
}

.old-page-section {
  margin: 4vh auto;
  text-align: center;
}

.old-page-heading {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  color: rgb(101, 119, 158);
  margin-bottom: 2vh;
}

.bean-project,
.space-project,
.btg-project {
  display: flex;
  justify-content: center;
}

.btg-project {
  display: flex;
  flex-wrap: wrap;
}

.projects-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  text-align: center;
  color: darkgrey;
  margin-left: 3vw;
  padding: 3vh 0 0 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: rgb(101, 119, 158);
  margin: 4vh 0;
  text-align: center;
}

.project-blurb {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  color: #535252;
  margin: 1vh auto 4vh auto;
  max-width: 60vw;
}

.site {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #65779e;
  text-decoration: none;
}

.btg-bottom-button {
  margin-bottom: 20px;
}

/*  ===== start icons ===== */

.github {
  font-size: 1.2em;
  color: rgb(67, 111, 112);
  text-decoration: none;
}

.old-page {
  height: 30px;
}

/*  ===== end icons ===== */

hr {
  border: 1px solid rgb(165, 188, 214);
  margin: 0;
}

.space-site {
  font-size: 1.5em;
  margin: 4vh auto;
}

.btg-site {
  font-size: 1.5em;
  margin: 0vh auto 2vh auto;
}

.space-button {
  width: z 230px;
}

.btg-button {
  margin-bottom: 2vh;
  padding: 4px;
}

.language-option {
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  color: rgb(67, 111, 112);
  margin-bottom: 30px;
  font-size: 0.9em;
}

.language-option:hover {
  color: darkgrey;
}

.language2 {
  margin-bottom: 40px;
}

.setlist-project,
.andrew-project {
  display: flex;
  justify-content: center;
}

.setlist-screens {
  width: 24vw;
}

.andrew-screens {
  width: 40vw;
}

.middle-screen,
.andrew-second-screen {
  padding: 0 1vw;
}

.and {
  font-size: 30px;
}

/* -------- Contact Form --------- */

.email-form {
  font-family: "Montserrat", sans-serif;
  height: 65vh;
  min-height: 310px;
  background-image: url("./images/florian-klauer-desktop_square.jpg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  font-size: 1.2em;
  color: #000;
  border: solid 2px lightgrey;
  padding-top: 2vh;
  padding-left: 50vw;
  padding-bottom: 120px;
}

.email-form-header {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  padding-top: 6vh;
  padding-bottom: 4vh;
  color: #65779e;
  font-weight: 400;
}

.fields {
  display: grid;
  grid-template-columns: 18vw 18vw;
}

#name {
  height: 35px;
  width: 16vw;
  padding: 8px 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

#name:focus {
  outline: none;
  border-color: #65779e;
  box-shadow: 0 0 0 2px rgba(101, 119, 158, 0.1);
}

#email {
  height: 35px;
  width: 18vw;
  padding: 8px 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

#email:focus {
  outline: none;
  border-color: #65779e;
  box-shadow: 0 0 0 2px rgba(101, 119, 158, 0.1);
}

.half {
  padding-bottom: 3vh;
}

#message {
  margin-top: 3vh;
  height: 20vh;
  width: 30vw;
  padding: 10px 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  resize: vertical;
}

#message:focus {
  outline: none;
  border-color: #65779e;
  box-shadow: 0 0 0 2px rgba(101, 119, 158, 0.1);
}

.msg-touch {
  margin-top: 40vh;
  padding-top: 3vh;
  font-size: 1em;
}

.intouch-name-email {
  font-size: 1em;
  margin-bottom: 8px;
  display: block;
}

.submit-button {
  margin-top: 2vh;
}

.send-touch-button {
  font-family: "Montserrat", sans-serif;
  color: rgb(32, 45, 46);
  background-color: rgb(235, 229, 232);
  margin-top: 3vh;
  height: 40px;
  width: 200px;
  font-size: 0.9em;
  border-style: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.send-touch-button:hover {
  background-color: rgb(210, 204, 207);
}

.linkedin {
  text-align: center;
  height: 40px;
}

.fa-linkedin {
  color: #65779e;
  margin-top: 7px;
}

/* --------- Footer --------- */

footer {
  padding-top: 10px;
  text-align: center;
  height: 40px;
  font-family: "Libre Franklin", sans-serif;
  background-color: rgb(204, 212, 212);
  color: rgba(95, 158, 160, 0.5);
}

.footer-icon {
  padding: 1.5vh 0.75vw;
}

.name-copyright {
  color: grey;
  font-size: 1em;
  margin: 0;
  padding-top: 1vh;
}

/*  ============== MQ ================ */

@media only screen and (max-width: 1039px) {
  .main-subtitle {
    margin-top: -40px;
  }

  .name-francine {
    font-size: 220%;
    margin-right: 2vw;
    bottom: 88px;
  }
  
  .email-form {
    background-image: url("./images/florian-klauer-tablet.jpg");
  }
}

@media only screen and (max-width: 768px) {
  .name-francine {
    font-size: 200%;
  }

  .main-subtitle {
    font-size: 1em;
    margin-top: -35px;
  }

  .hide-mobile {
    display: none;
  }

  .projects {
    font-size: 1em;
  }

  .single-project {
    padding-top: 2vh;
  }

  .title {
    margin: 4vh 0vw;
  }

  .project-blurb {
    max-width: 88vw;
    font-size: 1.2em;
  }

  .site {
    font-size: 0.75em;
  }

  .title {
    font-size: 20px;
  }

  .setlist-screens {
    width: 60vw;
    margin-left: 20%;
  }

  .andrew-screens,
  .btg-screens,
  .space-screens {
    width: 90vw;
    margin-left: 0%;
  }

  .andrew-screens {
    margin-left: 5.5%;
  }

  .setlist-project,
  .andrew-project {
    flex-direction: column;
  }

  .middle-screen,
  .andrew-second-screen {
    padding: 10px 0 10px 0;
  }

  .bean-screens {
    width: 46vw;
  }

  .email-form {
    background-image: url("./images/florian-klauer-mobile-long.jpg");
    background-color: rgb(199, 190, 190);
    background-size: contain;
    padding-left: 10vw;
    padding-bottom: 120px;
    font-size: 1em;
  }

  .email-form-header {
    padding-top: 6vh;
    font-size: 1.6em;
    padding-left: 80px;
  }

  .name {
    margin-right: 30px;
  }

  .intouch-name-email {
    display: block;
    font-size: 0.85em;
    margin-bottom: 8px;
  }

  .field {
    margin-top: 20px;
  }

  /* style inputs */

  .fields {
    display: grid;
    grid-template-columns: 40vw 40vw;
    margin-top: -20px;
  }

  input#name {
    height: 40px;
    width: 38vw;
    padding: 8px 12px;
    font-size: 1em;
  }

  input#email {
    height: 40px;
    width: 38vw;
    padding: 8px 12px;
    font-size: 1em;
  }
  #message {
    margin-top: 1vh;
    width: 80vw;
    padding: 10px 12px;
    font-size: 1em;
  }

  .half {
    position: relative;
    top: 30px;
  }

  .msg-touch {
    margin-top: 400px;
    padding-top: 3vh;
    font-size: 0.85em;
  }

  .send-touch-button {
    font-family: "Montserrat", sans-serif;
    color: rgb(32, 45, 46);
    margin-top: 3vh;
    height: 45px;
    width: 200px;
    font-size: 0.9em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }

  .footer {
    margin-top: 400px;
  }
}

@media only screen and (max-width: 631px) {
  .name-francine {
    font-size: 140%;
  }

  .main-subtitle {
    margin-top: -36px;
  }
}

@media only screen and (max-width: 626px) {
  .name-francine {
    font-size: 100%;
    margin-right: 2.4vw;
    bottom: 40px;
  }

  .main-subtitle {
    margin-top: -18px;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 811px) {
  .email-form {
    background-image: none;
    background-color: rgb(155, 163, 163);
    padding-bottom: 40px;
  }

  .email-form-header {
    padding-left: 0px;
  }

  .fields {
    margin-top: -40px;
  }

  .send-touch-button {
    margin-top: 4vh;
  }
}

/*Tablet Query fixes contact form*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .email-form {
    background-image: none;
  }
}
